.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-card {
    padding: 2rem;
    border-radius: 8px;
    max-width: 400px;
    width: 100%;
}

.login-title {
    font-size: 24px;
    color: #333;
    text-align: center;
    margin-bottom: 10px;
}

.login-subtitle {
    font-size: 16px;
    color: #777;
    margin-bottom: 20px;
    text-align: center;
}

.form-label {
    font-weight: 500;
    color: #333;
}

.form-control {
    border-radius: 6px;
    padding: 10px;
    font-size: 16px;
}

.btn-primary {
    background-color: #6050DC;
    border-color: #6050DC;
    font-size: 18px;
    padding: 10px;
    border-radius: 6px;
    width: 100%;
    color: white;
    border: none;
    cursor: pointer;
}

.login-footer {
    margin-top: 20px;
    text-align: center;
}

.login-footer p {
    margin: 5px 0;
    font-size: 14px;
}

.login-footer a {
    color: #6050DC;
    text-decoration: none;
}

.login-footer a:hover {
    text-decoration: underline;
}

.form-check-label {
    font-size: 14px;
    color: #555;
}